<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/about">About</router-link></b-nav-item>
      <b-nav-item><router-link to="/users">Users</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
