<template>
  <div>
    <b-button class="float-right" variant="success" @click="addnewUser()"
      >Add New</b-button
    >
    <!-- FORM USER -->
    <b-modal
      id="modal-formUser"
      ref="modal-formUser"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-3"
          label="gender"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </form>
    </b-modal>
    <!-- END -->
    <b-table striped hover :items="userLists" :fields="field">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>&nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>
<script>
import axios from 'axios'
import User from '../../models/User'
export default {
  mounted () {
    // console.log(this.getUsers())
    // let bev = User
    this.getUsers()
  },
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      user: User,
      form: {
        id: -1,
        name: '',
        gender: null
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      userLists: [],
      field: ['id', 'name', 'gender', 'operation']
    }
  },
  methods: {
    editUser (user) {
      this.title = 'แก้ไขผู้ใช้'
      console.log(user)
      this.form = { ...user }
      this.$bvModal.show('modal-formUser')
    },
    delUser (user) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบ  ' + user.name + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
            setTimeout(() => {
              this.getUsers()
            }, 500)
          }
        })
    },
    addnewUser () {
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('modal-formUser')
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Pass validate
      if (this.form.id > 0) {
        this.updateUser(this.form)
        this.getUsers()
      } else {
        this.addUser(this.form)
        this.getUsers()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-formUser')
      })
    },
    async getUsers () {
      this.userLists = []
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          // console.log(res)
          // console.log(res.data)

          res.data.map((item, index) => {
            // console.log(item)
            // this.bev = {
            //   id: ++index,
            //   name: item.name,
            //   gender: item.gender
            // }
            item.id = ++index
            this.user = item
            this.userLists.push(this.user)
            // field: ['id', 'name', 'gender', 'operation']
            // cats = ...catService
            // this.userLists.push(item)
          })
          // return res
        })
        .catch(err => {
          console.log(err)
        })
    },
    getUsersById (id = 1) {
      axios
        .get('http://localhost:3000/users/' + id)
        .then(res => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
    },
    addUser (user) {
      // console.log(user)
      axios.post('http://localhost:3000/users/', user)
    },
    updateUser (user) {
      axios.put('http://localhost:3000/users/', user)
    },
    deleteUser (user) {
      console.log(user._id)
      axios
        .delete('http://localhost:3000/users/' + user._id)
        .then(res => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : 'ไม่สำเร็จ'
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.name.length != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : 'ไม่สำเร็จ'
    }
  }
}
</script>
